{% extends 'layouts/base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h1>Add Task</h1>

        <form action="/tasks/add" method="POST">
            {% csrf_token %}
    
            {% if form.errors %}
                <div style="color: red;">
                    <ul>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
    
            {{ form.as_p }}
    
            <button style="width:100px; height:40px;">Save</button>
        </form>
    </div>
</div>

{% endblock %}
