{% extends 'layouts/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h1 class="display-1">Tasks</h1>

        <!-- Botón para agregar tareas -->
        <div style="margin-bottom: 20px;">
            <a href="{% url 'task_add' %}" class="btn btn-primary" style="padding: 10px 20px; border-radius: 5px; background-color: #007bff; color: #fff; text-decoration: none; font-size: 16px;">Add Task</a>
        </div>
        
        <div class="task-container">
            {% for task in tasks %}
            <a href="{% url 'task_detail' task.id %}" class="task-block">
                <div class="task">
                    <h5>{% if task.progress < 100 %} ⏲ {% else %} ✅ {% endif %} {{ task.name }}</h5>
                    <p>{{ task.description }}</p>
                    <p>{{ task.completion_date|date:"M j, Y - H:i" }}</p>
                </div>
            </a>
            {% empty %}
            <p>No hay tareas disponibles.</p>
            {% endfor %}
        </div>        
    </div>
</div>

{% endblock %}
